@use '../costumize' as *;

/* COLOR UTILS */
/* TEXT */
.text-xpress-gray-100 {                 color: $cart-xpress-gray-100 !important; }
.text-xpress-gray-300 {                 color: $cart-xpress-gray-300 !important; }

.text-xpress-yellow-100 {               color: $cart-xpress-yellow-100 !important; }
.text-xpress-yellow-200 {               color: $cart-xpress-yellow-200 !important; }

.text-xpress-blue-100 {                 color: $cart-xpress-blue-100 !important; }
.text-xpress-blue-200 {                 color: $cart-xpress-blue-200 !important; }
.text-xpress-blue-300 {                 color: $cart-xpress-blue-300 !important; }

.text-xpress-orange-200 {               color: $cart-xpress-orange-200 !important; }

/* BACKGROUND */
.bg-xpress-gray-100 {                   background-color: $cart-xpress-gray-100 !important; }
.bg-xpress-gray-200 {                   background-color: $cart-xpress-gray-200 !important; }
.bg-xpress-gray-300 {                   background-color: $cart-xpress-gray-300 !important; }
.bg-xpress-gray-400 {                   background-color: $cart-xpress-gray-400 !important; }

.bg-xpress-orange-100 {                 background-color: $cart-xpress-orange-100 !important; }
.bg-xpress-orange-200 {                 background-color: $cart-xpress-orange-200 !important; }

.bg-xpress-yellow-100 {                 background-color: $cart-xpress-yellow-100 !important; }

.bg-xpress-purple-100 {                 background-color: $cart-xpress-purple-100 !important; }
.bg-xpress-purple-200 {                 background-color: $cart-xpress-purple-200 !important; }
.bg-xpress-purple-300 {                 background-color: $cart-xpress-purple-300 !important; }
.bg-xpress-purple-400 {                 background-color: $cart-xpress-purple-400 !important; }

.bg-xpress-red-100 {                    background-color: $cart-xpress-red-100 !important; }

.bg-xpress-green-100 {                  background-color: $cart-xpress-green-100 !important; }

.bg-xpress-blue-100 {                   background-color: $cart-xpress-blue-100 !important; }

/* COLOR WITH OPACITY UTILS */
.bg-opaque-xpress-black-100 {           background-color: rgba($black, 0.25) !important; }
.bg-opaque-xpress-black-200 {           background-color: rgba($black, 0.5) !important; }
.bg-opaque-xpress-black-300 {           background-color: rgba($black, 0.75) !important; }

/* COLOR WITH GRADIENT UTILS */
.gradient-bg-gray-100-to-transparent {  background-image: linear-gradient($cart-xpress-gray-100, transparent); }
.gradient-bg-gray-100-to-black-op-100-to-bg-gray-100 {     
                                        background-image: linear-gradient($cart-xpress-gray-100, rgba($black, 0.5), $cart-xpress-gray-100); }
.gradient-bg-blue-200-to-purple-400 {   background-image: linear-gradient($cart-xpress-blue-200, $cart-xpress-purple-400); }
.gradient-black-op-100-to-bg-gray-200 { background-image: linear-gradient(rgba($black, 0.5), $cart-xpress-gray-200); }