@use '../costumize' as *;

/* COLOR UTILS */
.bg-xpress-gray-100 { background-color: $cart-xpress-gray-100 !important; }

.bg-xpress-orange-100 { background-color: $cart-xpress-orange-100 !important; }

.bg-xpress-purple-100 { background-color: $cart-xpress-purple-100 !important; }