@use '../costumize' as *;

/* OPACITY */
.opacity-0 {   opacity: 0; }
.opacity-100 { opacity: 0.1; }
.opacity-200 { opacity: 0.2; }
.opacity-300 { opacity: 0.3; }
.opacity-400 { opacity: 0.4; }
.opacity-500 { opacity: 0.5; }
.opacity-600 { opacity: 0.6; }
.opacity-700 { opacity: 0.7; }
.opacity-800 { opacity: 0.8; }
.opacity-900 { opacity: 0.9; }
.opacity-1 {   opacity: 1; }