<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Xpress</title>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/fontawesome.css" media="screen">
</head>
<body style="background: url('../images/backgrounds/background-2.png') 
                         no-repeat center center fixed;
             background-size: cover;">
    
    <!-------------------------------- Navbar Section START -->
    <nav class="navbar navbar-expand-lg 
                container-fluid bg-xpress-gray-100 
                px-4 py-1 m-0 sticky-top"
                style="height: 50px;">

        <!-- nav-title -->
        <a class="navbar-brand text-light roboto" href="#">
            <img src="../images/logos/logo-title.png" alt="" style="width: 1.75em;">
            <span class="text-hover-xpress-to-purple-200 ms-2">
                cartXpress</span></a>

        <!-- menu-list -->
        <div class="collapse d-flex justify-content-end w-100" style="height: 1.75em;">
                    
            <div class="navbar-nav">

                <!-- nav-links -->
                <a class="nav-item nav-link align-self-center
                          text-light nato-sans-jp 
                          fs-xpress-sm-300 ms-3
                          text-hover-xpress-to-red-100" href="#">
                          <i class="fa-solid fa-house me-1"></i>
                          Home</a>

                <a class="nav-item nav-link align-self-center
                          text-light nato-sans-jp 
                          fs-xpress-sm-300 ms-3
                          text-hover-xpress-to-red-100" href="#">
                          <i class="fa-solid fa-cookie-bite me-1"></i>
                          Products</a>

                <a class="nav-item nav-link align-self-center
                          text-light nato-sans-jp 
                          fs-xpress-sm-300 ms-3
                          text-hover-xpress-to-red-100" href="#">
                          <i class="fa-solid fa-store me-1"></i>
                          Shops</a>
                          
                <a class="nav-item nav-link align-self-center
                          text-light nato-sans-jp 
                          fs-xpress-sm-300 ms-3
                          text-hover-xpress-to-red-100" href="#">
                          <i class="fa-solid fa-basket-shopping me-1"></i>
                          Categories</a>
                          
                <a class="nav-item nav-link align-self-center
                          text-light nato-sans-jp 
                          fs-xpress-sm-500 ms-3
                          text-hover-xpress-to-red-100" 
                          id="notify" href="#">
                          <i class="fa-solid fa-bell purple-100-active"></i></a>
                          
                <!-- nav buttons -->
                <a class="nav-item nav-link text-light nato-sans-jp 
                          fs-xpress-sm-300 align-self-center ms-3 px-5
                          btn bg-primary bg-xpress-orange-100
                          bg-hover-xpress-to-gray-200" href="#"
                          style="padding-top: 0.2em; padding-bottom: 0.2em;">
                          Login</a>
                          
                <a class="nav-item nav-link text-light nato-sans-jp 
                          fs-xpress-sm-300 align-self-center ms-1 px-5
                          btn bg-primary bg-xpress-purple-100
                          bg-hover-xpress-to-gray-200" href="#"
                          style="padding-top: 0.2em; padding-bottom: 0.2em;">
                          Register</a>
            </div>
        </div>
    </nav>
    <!---------- Navbar Section END -->
    
    <!-------------------------------- Checkout Main Content START -->
    <div class="container-fluid pt-4 px-3 bg-opaque-xpress-black-200">
    
        <!-------------------------------- Checkout Header START -->   
        <div class="checkbox-content container-fluid">

            <div class="row align-items-end">

                <div class="col-6 bg-xpress-gray-200">

                    <!-- title header -->
                    <div class="title-header p-4">
                        
                        <h2 class="fs-xpress-md-400 lato 
                                   fw-xpress-600 text-light
                                   text-shadow-300 mb-0">
                                   CART <span class="text-xpress-yellow-100">X</span>PRESS</h2>
            
                        <h2 class="fs-xpress-sm-700 fw-xpress-700 
                                   text-xpress-red-100 lato mt-0">
            
                                   Shopping Cart</h2>
            
                        <p class="text-light roboto mt-4 w-75">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Dicta, aut. Maxime obcaecati voluptas.</p>
                    </div>

                </div>

                <div class="checkout-box col-6 
                            bg-xpress-gray-100 p-3" 
                            style="z-index: 1050;">

                    <div class="row">

                        <div class="col-7">

                            <h4 class="d-inline roboto text-light 
                                        mb-1 fs-xpress-sm-300 w-50 text-end">
                                        TOTAL QUANTITY: <span class="text-xpress-yellow-100">
                                        5 pieces</span></h4>
                        </div>

                        <div class="col-5 text-end">

                            <h4 class="d-inline roboto text-light 
                                        mb-1 fs-xpress-sm-400 w-50 text-end">
                                        <span class="text-light">
                                        P250</span></h4>
                        </div>

                        <div class="col-7 mt-2">

                            <h4 class="d-inline roboto text-xpress-gray-300 
                                        mb-1 fs-xpress-sm-200 w-50 text-end">
                                        You can <span class="text-xpress-red-100">
                                            cancel</span> your order everytime</h4>
                        </div>

                        <div class="col-5 text-end mt-2">
        
                            <button class="btn bg-xpress-orange-100 w-50
                                           bg-hover-xpress-to-gray-200
                                           rounded-0 text-light py-1 px-3 roboto
                                           fs-xpress-sm-300 fw-xpress-500">
                                           Check out</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!---------- Checkout Header END -->
    
        <!-------------------------------- Shopping Cart Content START -->  
        <div class="shopping-cart-content bg-xpress-gray-200">
            
            <div class="row m-0 p-3 pt-4">

                <div class="col-2 bg-xpress-purple-100 rounded-start py-2 ps-3">

                    <h4 class="d-inline roboto text-light fw-xpress-500
                                mb-1 fs-xpress-sm-400 w-50 text-end">
                                YOUR CART</h4>
                </div>

                <div class="col-10 bg-xpress-purple-100 ps-5 rounded-end">

                    <div class="row">

                        <div class="col-4"></div>

                        <div class="col-2 bg-xpress-purple-100 py-2">
        
                            <h4 class="d-inline roboto text-light fw-xpress-500
                                        mb-1 fs-xpress-sm-300 w-50 text-end">
                                        PRICE</h4>
                        </div>

                        <div class="col-2 bg-xpress-purple-100 py-2">
        
                            <h4 class="d-inline roboto text-light fw-xpress-500
                                        mb-1 fs-xpress-sm-300 w-50 text-end">
                                        QUANTITY</h4>
                        </div>

                        <div class="col-2 bg-xpress-purple-100 py-2">
        
                            <h4 class="d-inline roboto text-light fw-xpress-500
                                        mb-1 fs-xpress-sm-300 w-50 text-end">
                                        COST</h4>
                        </div>

                        <div class="col-2 bg-xpress-purple-100 py-2 rounded">
        
                            <h4 class="d-inline roboto text-light fw-xpress-500
                                        mb-1 fs-xpress-sm-300 w-50 text-end">
                                        ACTION</h4>
                        </div>

                    </div>

                </div>

                <!-------------------------------- SHOP Orders Item Content START -->  
                <!-- a shop header -->
                <div class="col-12 bg-xpress-gray-100 border-bottom-gray-300 
                            rounded-top mt-4 p-3">

                    <h4 class="d-inline roboto text-light fw-xpress-500
                                mb-1 fs-xpress-sm-400 w-50 text-end">
                                shopName</h4>
                </div>

                <!-- a single item -->
                <div class="col-2 p-0 border-bottom-gray-300">

                    <img class="w-100" src="../images/sample-products/product-1.jpg" 
                         alt="" style="height: 375px;">
                </div>

                <div class="col-10 p-3 ps-5 border-bottom-gray-300 
                            d-flex flex-column justify-content-center">

                    <!-- product header -->
                    <div class="product-header">

                        <h4 class="d-inline roboto text-light 
                                    mb-1 fs-xpress-sm-700">
                                    Product Name 12345</h4>

                        <p class="d-inline roboto mt-0 
                                    fs-xpress-sm-200 fw-xpress-500 
                                    bg-xpress-purple-300 rounded 
                                    px-3 py-1 text-light ms-3">
                                    Product Type</p>
                    </div>

                    <!-- upper details -->
                    <div class="row p-0 mt-2">
                        <div class="col-2">

                            <p class="d-inline roboto mt-0
                                        fs-xpress-sm-200 fw-xpress-400 
                                        text-xpress-yellow-200">
                                        RATING 4.5</p>
                        </div>
                        <div class="col-2">

                            <p class="d-inline roboto mt-0
                                        fs-xpress-sm-200 fw-xpress-500 
                                        text-xpress-gray-600">
                                        50 FEEDBACKS</p>
                        </div>
                        <div class="col-2">

                            <p class="d-inline roboto mt-0
                                        fs-xpress-sm-200 fw-xpress-500 
                                        text-xpress-gray-600">
                                        P50,000 TOTAL SOLD</p>
                        </div>
                        <div class="col-3">

                            <p class="d-inline roboto mt-0
                                        fs-xpress-sm-200 fw-xpress-500 
                                        text-xpress-gray-600">
                                        POSTED AT MM/DD/YYYY</p>
                        </div>

                        <!-- width space -->
                        <div class="col-12"></div>

                        <!-- details about the ordered item -->
                        <div class="col-4 ps-5 mt-5">

                            <p class="roboto mt-0 mb-1
                                        fs-xpress-sm-300 fw-xpress-500 
                                        text-xpress-gray-600">
                                        Duration of Service Delivery</p>

                            <p class="roboto mt-0 ps-5
                                        fs-xpress-sm-300 fw-xpress-500 
                                        text-light">
                                        24 Hours</p>
                        </div>

                        <div class="col-2 mt-5">

                            <p class="roboto mt-0
                                        fs-xpress-sm-700 fw-xpress-500 
                                        text-light">
                                        P50</p>
                        </div>

                        <!-- quantityInStock -->
                        <div class="col-2 mt-5">

                            <div class="form-control p-0 pt-1 bg-transparent 
                                        border-0 border-light">

                                <input class="w-50 px-3 rounded" 
                                       type="number" name="quantityInStock" 
                                       value="5" min="1">
                            </div>
                        </div>

                        <div class="col-2 mt-5">

                            <p class="roboto mt-0 pe-1
                                        fs-xpress-sm-700 fw-xpress-500 
                                        text-light">
                                        P250</p>
                        </div>

                        <div class="col-2 mt-5 pe-5">

                            <button class="btn bg-xpress-red-100
                                            bg-hover-xpress-to-gray-200 text-light
                                            rounded fs-xpress-sm-100 
                                            fw-xpress-600"
                                            id="background-btn">
                                            <i class="fa-solid fa-trash"></i>
                                            </button>

                            <a class="btn bg-success
                                            bg-hover-xpress-to-gray-200 text-light
                                            rounded fs-xpress-sm-100 
                                            fw-xpress-600"
                                            href="#"
                                            id="background-btn">
                                            <i class="fa-solid fa-eye"></i>
                                            </a>
                        </div>

                        <div class="col-4 ps-5 mt-5">

                            <p class="roboto mt-0 mb-1
                                        fs-xpress-sm-300 fw-xpress-500 
                                        text-xpress-gray-600">
                                        Available Stock</p>

                            <p class="roboto mt-0 ps-5
                                        fs-xpress-sm-300 fw-xpress-500 
                                        text-light">
                                        40 Remaining</p>
                        </div>

                        <div class="col-2 mt-5">

                            <p class="roboto mt-0
                                        fs-xpress-sm-300 fw-xpress-500 
                                        text-light">
                                        WEIGHT <span class="ms-2 text-xpress-gray-300">2KG</span></p>
                        </div>

                        <div class="col-2 mt-5">

                            <p class="roboto mt-0
                                        fs-xpress-sm-300 fw-xpress-500 
                                        text-light">
                                        DISCOUNT <span class="ms-2 text-xpress-yellow-200">10%</span></p>
                        </div>
                    </div>
                
                </div>

                <!-- a shop visit -->
                <div class="col-12 bg-xpress-purple-300 p-2">
        
                    <button class="btn bg-xpress-gray-100
                                   bg-hover-xpress-to-gray-200
                                   rounded-pill text-light py-1 px-5 roboto
                                   fs-xpress-sm-300 fw-xpress-500">
                                   Visit Shop</button>
                </div>
                <!---------- SHOP Orders Item Content END -->

            </div>
    
            <!-------------------------------- Address Cart Content START -->  
            <div class="address-content mt-1 pb-3 px-3">
    
                <div class="row m-0">
                    
                    <!-- other address content -->
                    <div class="col-2 ps-0">
                                
                        <!-- other address notes -->
                        <h6 class="roboto text-xpress-orange-200 
                                   fs-xpress-sm-300">OTHER ADDRESS</h6>

                        <p class="roboto text-light fs-xpress-sm-200 justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Natus deserunt quia aperiam sed id</p>
                                
                        <!-- other address notes -->
                        <h6 class="roboto text-xpress-gray-300 mt-5
                                   fs-xpress-sm-300">SEARCH COLLEAGUES</h6>
    
                        <!-- search customer inputs -->
                        <input class="roboto text-xpress-gray-100 
                                bg-light border-0 py-1 fw-xpress-500
                                fs-xpress-sm-300 rounded w-100 mt-1 px-2" type="text" 
                                name="search">

                        <div class="row row-cols-4 g-1 mt-2">

                            <div class="col">
                                <a href="#">
                                    <img class="rounded-circle w-100" src="../images/alphabetical-profile/a-profile.jpg" style="height: 48px" alt="">
                                </a>
                            </div>

                            <div class="col">
                                <a href="#">
                                    <img class="rounded-circle w-100" src="../images/alphabetical-profile/a-profile.jpg" style="height: 48px" alt="">
                                </a>
                            </div>

                            <div class="col">
                                <a href="#">
                                    <img class="rounded-circle w-100" src="../images/alphabetical-profile/a-profile.jpg" style="height: 48px" alt="">
                                </a>
                            </div>

                            <div class="col">
                                <a href="#">
                                    <img class="rounded-circle w-100" src="../images/alphabetical-profile/a-profile.jpg" style="height: 48px" alt="">
                                </a>
                            </div>

                            <div class="col">
                                <a href="#">
                                    <img class="rounded-circle w-100" src="../images/alphabetical-profile/a-profile.jpg" style="height: 48px" alt="">
                                </a>
                            </div>

                            <div class="col">
                                <a href="#">
                                    <img class="rounded-circle w-100" src="../images/alphabetical-profile/a-profile.jpg" style="height: 48px" alt="">
                                </a>
                            </div>

                        </div>
                    </div>
    
                    <!-- address content -->
                    <div class="col-10">

                        <div class="row position-relative">

                            <!-- your profile background images -->
                            <div class="w-100 h-100 p-0 position-absolute top-0 left-0 bg-primary">

                                <img class="w-100 h-100" 
                                     src="../images/alphabetical-backgrounds/a-profile-background.jpg" 
                                     alt="" style="z-index: -1; object-fit: cover;">
                            </div>

                            <!-- setter address display -->
                            <div class="col-2 gradient-transparent-to-bg-gray-200 text-center py-5" style="z-index: 1000;">

                                <img class="w-50 rounded-circle" 
                                     src="../images/alphabetical-profile/a-profile.jpg" alt="">
        
                                <button class="btn bg-xpress-purple-100 mt-4
                                               bg-hover-xpress-to-gray-200
                                               rounded text-light p-1 roboto
                                               fs-xpress-sm-200 fw-xpress-500">
                                               Set As Your Default Address</button>
                            </div>

                            <!-- address form -->
                            <div class="col-10 gradient-transparent-to-bg-gray-200 py-5" style="z-index: 1000;">

                                <div class="row">
                                
                                    <!-- your location warning notes -->
                                    <div class="col-4">
                                        <h6 class="roboto text-xpress-red-200 fs-xpress-sm-300">YOUR LOCATION</h6>
                                        <p class="roboto text-light fs-xpress-sm-200 justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus deserunt quia aperiam sed id</p>
                                    </div>
    
                                    <!-- address lines -->
                                    <div class="col-8">
    
                                        <!-- addressLine1 -->
                                        <div class="form-control p-0 rounded-0 border-0">
                                            
                                            <label class="roboto text-xpress-gray-300 fs-xpress-sm-300 fw-xpress-500" 
                                                   for="addressLine1">ADDRESS LINE 1</label>
    
                                            <input class="roboto text-xpress-gray-100
                                                   bg-light border-0 py-1 fw-xpress-500 
                                                   fs-xpress-sm-300 rounded w-100 mt-1 px-2" type="text" 
                                                   name="addressLine1">
                                        </div>
    
                                        <!-- addressLine2 -->
                                        <div class="form-control p-0 rounded-0 border-0 mt-3">
                                            
                                            <label class="roboto text-xpress-gray-300 fs-xpress-sm-300 fw-xpress-500" 
                                                   for="addressLine2">ADDRESS LINE 2</label>
    
                                            <input class="roboto text-xpress-gray-100 
                                                   bg-light border-0 py-1 fw-xpress-500 
                                                   fs-xpress-sm-300 rounded w-100 mt-1 px-2" type="text" 
                                                   name="addressLine2">
                                        </div>
    
                                    </div>
    
                                    <!-- city -->
                                    <div class="col-3 mt-4">
                                        <div class="form-control p-0 rounded-0 border-0">
    
                                            <label class="roboto text-xpress-gray-300 fs-xpress-sm-300 fw-xpress-500" 
                                                   for="city">CITY</label>
    
                                            <input class="roboto text-xpress-gray-100 
                                                   bg-light border-0 py-1 fw-xpress-500
                                                   fs-xpress-sm-300 rounded w-100 mt-1 px-2" type="text" 
                                                   name="city">
                                        </div>
                                    </div>
    
                                    <!-- state -->
                                    <div class="col-3 mt-4">
                                        <div class="form-control p-0 rounded-0 border-0">
    
                                            <label class="roboto text-xpress-gray-300 fs-xpress-sm-300 fw-xpress-500" 
                                                   for="state">STATE</label>
    
                                            <input class="roboto text-xpress-gray-100 
                                                   bg-light border-0 py-1 fw-xpress-500
                                                   fs-xpress-sm-300 rounded w-100 mt-1 px-2" type="text" 
                                                   name="state">
                                        </div>
                                    </div>
    
                                    <!-- postalCode -->
                                    <div class="col-3 mt-4">
                                        <div class="form-control p-0 rounded-0 border-0">
    
                                            <label class="roboto text-xpress-gray-300 fs-xpress-sm-300 fw-xpress-500" 
                                                   for="postalCode">POSTAL CODE</label>
    
                                            <input class="roboto text-xpress-gray-100 
                                                   bg-light border-0 py-1 fw-xpress-500
                                                   fs-xpress-sm-300 rounded w-100 mt-1 px-2" type="text" 
                                                   name="postalCode">
                                        </div>
                                    </div>
    
                                    <!-- country -->
                                    <div class="col-3 mt-4">
                                        <div class="form-control p-0 rounded-0 border-0">
    
                                            <label class="roboto text-xpress-gray-300 fs-xpress-sm-300 fw-xpress-500" 
                                                   for="country">COUNTRY</label>
    
                                            <input class="roboto text-xpress-gray-100 
                                                   bg-light border-0 py-1 fw-xpress-500
                                                   fs-xpress-sm-300 rounded w-100 mt-1 px-2" type="text" 
                                                   name="country">
                                        </div>
                                    </div>
                                
                                    <!-- delivery policy notes -->
                                    <div class="col-4 mt-4">
                                        <h6 class="roboto text-xpress-blue-100 fs-xpress-sm-300">DELIVERY POLICY</h6>
                                        <p class="roboto text-light fs-xpress-sm-200 justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus deserunt quia aperiam sed id</p>
                                    </div>

                                    <div class="col-8 mt-4">

                                        <!-- comment -->
                                        <div class="form-control p-0 rounded-0 border-0">
    
                                            <label class="roboto text-xpress-gray-300 fs-xpress-sm-300 fw-xpress-500" 
                                                   for="country">COMMENT</label>
                
                                            <textarea class="roboto text-xpress-gray-100 
                                                      bg-light border-0 py-2 fw-xpress-500 
                                                            fs-xpress-sm-300 rounded w-100 mt-1 px-2"
                                                            name="comment"
                                                            style="height: 100px;"></textarea>
                                        </div>

                                    </div>

                                    <div class="col-4 mt-4">
    
                                        <label class="roboto text-xpress-gray-300 fs-xpress-sm-300 fw-xpress-500" 
                                               for="country">EXPECTED DURATION ON DELIVERY</label>
                                    </div>

                                    <div class="col-5 mt-4">
    
                                        <label class="roboto text-light fs-xpress-sm-300 fw-xpress-500" 
                                               for="country">24 HOURS</label>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
    
                </div>
    
            </div>
            <!---------- Address Cart Content END -->

        </div>
        <!---------- Shopping Cart Content END -->

    </div>
    <!---------- Checkout Main Content END -->
    
    <!-------------------------------- Cart Xpress Footer START -->
    <footer class="container-fluid 
                   bg-xpress-gray-200 text-light p-0">

        <!-- footer header -->
        <div class="header bg-xpress-gray-500 text-center">

            <h5 class="roboto fs-xpress-sm-500 
                       py-2 m-0">
                       Ecommerce Title</h5>
        </div>

        <!-- border line design -->
        <div class="row bg-light m-0" style="height: 0.75rem">
            <div class="col-4 h-100 bg-xpress-orange-100"></div>
            <div class="col-4 h-100"></div>
            <div class="col-4 h-100 bg-xpress-purple-300"></div>
        </div>

        <!-- footer content -->
        <div class="footer-content">
            <div class="row m-0 px-4 py-5">

                <div class="col-4">
                    <h5 class="roboto text-xpress-blue-200">About Ecommerce Title</h5>

                    <p class="roboto my-5 pb-5 justify 
                              fw-xpress-300 fs-xpress-sm-300">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                              Perferendis veritatis dolorum architecto, 
                              harum enim illum debitis rerum? Rem praesentium aspernatur 
                              recusandae temporibus inventore consequatur doloremque 
                              distinctio similique labore, impedit rerum.
                              <br><br>
                              
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                              Dolores pariatur quis inventore, autem eaque voluptas placeat minima! 
                              Voluptatibus, quidem officiis eaque dolor quae quisquam quod 
                              ipsa optio vero ad rem?</p>

                    <div class="w-100 mt-5 text-center">
                        
                        <object class="w-25" 
                                data="../images/svg/mobile-interface.svg"></object>

                        <h6 class="roboto mt-4 
                                   text-xpress-blue-200">
                                   ECOMMERCE TITLE</h6>
                    </div>
                </div>

                <div class="col-8">
                    <div class="row ps-5">
                        <div class="col-4">
                            <h5 class="text-xpress-orange-200 
                                       mb-5 roboto uppercase fs-xpress-sm-400">Category Header</h5>

                            <ul class="p-0" style="list-style: none;">
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 1</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 2</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 3</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 4</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h5 class="text-light mb-5 roboto uppercase fs-xpress-sm-400">Category Header</h5>

                            <ul class="p-0" style="list-style: none;">
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 1</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 2</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 3</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 4</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 5</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h5 class="text-light mb-5 roboto uppercase fs-xpress-sm-400">Category Header</h5>

                            <ul class="p-0" style="list-style: none;">
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 1</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 2</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 3</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 4</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h5 class="text-light my-5 roboto uppercase fs-xpress-sm-400">Category Header</h5>

                            <ul class="p-0" style="list-style: none;">
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 1</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 2</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 3</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 4</a></li>
                            </ul>
                        </div>
                        <div class="col-8">
                            <h5 class="text-xpress-blue-200 mt-5 roboto uppercase fs-xpress-sm-400">Header Title</h5>
                            <p class="roboto mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, soluta porro. Mollitia impedit numquam omnis accusamus tempora, ratione cumque</p>
                            <h5 class="text-light mt-5 roboto uppercase fs-xpress-sm-400">Social Media Platforms</h5>
    
                            <div class="mt-4">
                                <a href="#"><i class="fa-brands fa-facebook fs-xpress-sm-800 text-light ms-2"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter fs-xpress-sm-800 text-light ms-2"></i></a>
                                <a href="#"><i class="fa-brands fa-square-instagram fs-xpress-sm-800 text-light ms-2"></i></a>
                                <a href="#"><i class="fa-brands fa-discord fs-xpress-sm-800 text-light ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- footer lower part - copyright  -->
        <div class="copyright bg-xpress-gray-500 text-center">

            <h5 class="roboto fw-xpress-400 fs-xpress-sm-400 
                       py-2 m-0">
                       &#169; 2022 All Right Reserved - Ecommerce Title</h5>
        </div>
    </footer>
    <!---------- Cart Xpress Footer END -->

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="../js/pages/checkout.js"></script>
    <script src="../js/utils/FunctionUtils.js"></script>
</body>
</html>