<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Xpress</title>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/fontawesome.css" media="screen">
</head>
<body style="background: url('../images/backgrounds/background-2.png') 
                         no-repeat center center fixed;
             background-size: cover;">
    
    <!-------------------------------- Navbar Section START -->
    <nav class="navbar navbar-expand-lg 
                container-fluid bg-xpress-gray-100 
                px-4 py-1 m-0 sticky-top"
                style="height: 50px;">

        <!-- nav-title -->
        <a class="navbar-brand text-light roboto" href="#">
            <img src="../images/logos/logo-title.png" alt="" style="width: 1.75em;">
            <span class="text-hover-xpress-to-purple-200 ms-2">
                cartXpress</span></a>

        <!-- menu-list -->
        <div class="collapse d-flex justify-content-end w-100" style="height: 1.75em;">
                    
            <div class="navbar-nav">

                <!-- nav-links -->
                <a class="nav-item nav-link align-self-center
                          text-light nato-sans-jp 
                          fs-xpress-sm-300 ms-3
                          text-hover-xpress-to-red-100" href="#">
                          <i class="fa-solid fa-house me-1"></i>
                          Home</a>

                <a class="nav-item nav-link align-self-center
                          text-light nato-sans-jp 
                          fs-xpress-sm-300 ms-3
                          text-hover-xpress-to-red-100" href="#">
                          <i class="fa-solid fa-cookie-bite me-1"></i>
                          Products</a>

                <a class="nav-item nav-link align-self-center
                          text-light nato-sans-jp 
                          fs-xpress-sm-300 ms-3
                          text-hover-xpress-to-red-100" href="#">
                          <i class="fa-solid fa-store me-1"></i>
                          Shops</a>
                          
                <a class="nav-item nav-link align-self-center
                          text-light nato-sans-jp 
                          fs-xpress-sm-300 ms-3
                          text-hover-xpress-to-red-100" href="#">
                          <i class="fa-solid fa-basket-shopping me-1"></i>
                          Categories</a>
                          
                <a class="nav-item nav-link align-self-center
                          text-light nato-sans-jp 
                          fs-xpress-sm-500 ms-3
                          text-hover-xpress-to-red-100" 
                          id="notify" href="#">
                          <i class="fa-solid fa-bell purple-100-active"></i></a>
                          
                <!-- nav buttons -->
                <a class="nav-item nav-link text-light nato-sans-jp 
                          fs-xpress-sm-300 align-self-center ms-3 px-5
                          btn bg-primary bg-xpress-orange-100
                          bg-hover-xpress-to-gray-200" href="#"
                          style="padding-top: 0.2em; padding-bottom: 0.2em;;">
                          Login</a>
                          
                <a class="nav-item nav-link text-light nato-sans-jp 
                          fs-xpress-sm-300 align-self-center ms-1 px-5
                          btn bg-primary bg-xpress-purple-100
                          bg-hover-xpress-to-gray-200" href="#"
                          style="padding-top: 0.2em; padding-bottom: 0.2em;;">
                          Register</a>
            </div>
        </div>
    </nav>
    <!---------- Navbar Section END -->
    
    <!-------------------------------- Whole Cover Wrapper Background START -->
    <div class="whole-cover-background bg-opaque-xpress-black-200 w-100 
                d-flex flex-column justify-content-center align-items-center">

        <!-- box space -->
        <div class="w-100" style="height: 50px;"></div>

        <!-------------------------------- Cart Xpress Login Main START -->
        <div class="login position-relative container">

            <div class="row" 
                 style="height: 500px;">

                <div class="col-9 bg-xpress-purple-300 position-relative h-100">
            
                    <div class="login-header position-absolute top-0 start-0 p-5 h-100 d-flex flex-column justify-content-center align-items-start" style="z-index: 1000;">

                        <h1 class="fs-xpress-md-200 lato 
                                   fw-xpress-600 text-light mb-0">
                                   CART <span class="text-xpress-yellow-100">X</span>PRESS</h1>
            
                        <h2 class="fs-xpress-sm-700 fw-xpress-800 text-shadow-100
                                   text-xpress-gray-300 lato mt-0">
            
                                   <span class="text-xpress-yellow-100">Online</span> 
                                   Shopping Delivery Application</h2>
    
                        <p class="text-light roboto mt-5 w-75 text-shadow-100">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Dicta, aut. Maxime obcaecati voluptas iusto odio ea tempore, 
                            soluta modi ipsum minus magni ex, corrupti consequuntur. 
                            Quis in id officiis illum!</p>
                    </div>

                    <!-- designing of two images -->
                    <div class="position-absolute top-0 end-0 
                                two-image-design h-100 pe-5 me-3 
                                d-flex justify-content-center align-items-center" 
                                style="z-index: 0;">

                        <img class="two-image-design__left" 
                             src="../images/sample-images/sample-image-25.jpg" alt="">

                        <img class="two-image-design__right" 
                             src="../images/sample-images/sample-image-26.jpg" alt="">
                    </div>
                               
                </div>

                <!-- left -->
                <div class="col-3 text-center h-100 p-0"
                            style="background: url('../images/wonderful-images/wonderful-image-2.jpg') no-repeat;
                                   background-size: cover;">

                    <div class="w-100 h-100 bg-opaque-xpress-black-200 px-4 pt-4
                                d-flex flex-column justify-content-center align-items-center">

                        <object data="../images/svg//mobile-interface.svg" type="" 
                                style="width: 4em;"></object>
    
                        <h5 class="lato text-xpress-blue-300 
                                   fs-xpress-sm-400 fw-xpress-600 mt-3 mx-4">
                                   Login Title Header</h5>

                        <p class="roboto text-light 
                                  fs-xpress-sm-200">
                                  Lorem ipsum, dolor sit amet</p>
    
                        <form class="w-100 text" action="javascript: void(0)">
    
                            <div class="form-control p-0 border-0 w-100">
                                <input class="
                                    fs-xpress-sm-300 text-light
                                    border-top-0 border-start-0
                                    border-end-0 border-bottom-1
                                    bg-transparent w-100 px-2 mt-4" type="email" 
                                    name="email" id="email" 
                                    placeholder="type your email...">
                            </div>
    
                            <div class="form-control p-0 border-0 mt-3 w-100">
                                <input class="
                                    fs-xpress-sm-300 text-light
                                    border-top-0 border-start-0
                                    border-end-0 border-bottom-1
                                    bg-transparent w-100 px-2" type="password" 
                                    name="password" id="password" 
                                    placeholder="type your password...">
                            </div>
    
                            <div class="form-control p-0 border-0 mt-3 text-start
                                        d-flex justify-content-start align-items-center">

                                <input type="checkbox" name="remember_me">
                                    <label class="roboto text-light fs-xpress-sm-200 ms-1" 
                                           for="remember_me">Remember Me!</label>
                            </div>
    
                            <button class="btn bg-xpress-purple-300 
                                           bg-hover-xpress-to-gray-200 text-light w-75 
                                           rounded-pill py-1 fs-xpress-sm-300 
                                           fw-xpress-400 mt-5" 
                                           type="submit">Login</button>
    
                            <p class="text-light fs-xpress-sm-200 mt-2">You don’t have account yet?</p>
    
                            <a class="roboto text-light fs-xpress-sm-200 
                                      w-25 border-light" href="#">

                                      <p class="">Register</p></a>
    
                        </form>

                    </div>
                </div>
            </div>

        </div>
        <!---------- Cart Xpress Login Main END -->

    </div>
    <!---------- Whole Cover Wrapper Background END -->

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="../js/utils/FunctionUtils.js"></script>
</body>
</html>