<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Xpress</title>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/fontawesome.css" media="screen">
</head>
<body style="background: url('../images/backgrounds/background-2.png') 
                         no-repeat center center fixed;
             background-size: cover;">
    
    <!-------------------------------- Navbar Section START -->
    <nav class="navbar navbar-expand-lg 
                container-fluid bg-xpress-gray-100 
                px-4 py-1 m-0 sticky-top"
                style="height: 50px;">

        <!-- nav-title -->
        <a class="navbar-brand text-light roboto" href="#">
            <img src="../images/logos/logo-title.png" alt="" style="width: 1.75em;">
            <span class="text-hover-xpress-to-purple-200 ms-2">
                cartXpress</span></a>

        <!-- menu-list -->
        <div class="collapse d-flex justify-content-end w-100" style="height: 1.75em;">
                    
            <div class="navbar-nav">

                <!-- nav-links -->
                <a class="nav-item nav-link align-self-center
                          text-light nato-sans-jp 
                          fs-xpress-sm-300 ms-3
                          text-hover-xpress-to-red-100" href="#">
                          <i class="fa-solid fa-house me-1"></i>
                          Home</a>

                <a class="nav-item nav-link align-self-center
                          text-light nato-sans-jp 
                          fs-xpress-sm-300 ms-3
                          text-hover-xpress-to-red-100" href="#">
                          <i class="fa-solid fa-cookie-bite me-1"></i>
                          Products</a>

                <a class="nav-item nav-link align-self-center
                          text-light nato-sans-jp 
                          fs-xpress-sm-300 ms-3
                          text-hover-xpress-to-red-100" href="#">
                          <i class="fa-solid fa-store me-1"></i>
                          Shops</a>
                          
                <a class="nav-item nav-link align-self-center
                          text-light nato-sans-jp 
                          fs-xpress-sm-300 ms-3
                          text-hover-xpress-to-red-100" href="#">
                          <i class="fa-solid fa-basket-shopping me-1"></i>
                          Categories</a>
                          
                <a class="nav-item nav-link align-self-center
                          text-light nato-sans-jp 
                          fs-xpress-sm-500 ms-3
                          text-hover-xpress-to-red-100" 
                          id="notify" href="#">
                          <i class="fa-solid fa-bell purple-100-active"></i></a>
                          
                <!-- nav buttons -->
                <a class="nav-item nav-link text-light nato-sans-jp 
                          fs-xpress-sm-300 align-self-center ms-3 px-5
                          btn bg-primary bg-xpress-orange-100
                          bg-hover-xpress-to-gray-200" href="#"
                          style="padding-top: 0.2em; padding-bottom: 0.2em;">
                          Login</a>
                          
                <a class="nav-item nav-link text-light nato-sans-jp 
                          fs-xpress-sm-300 align-self-center ms-1 px-5
                          btn bg-primary bg-xpress-purple-100
                          bg-hover-xpress-to-gray-200" href="#"
                          style="padding-top: 0.2em; padding-bottom: 0.2em;">
                          Register</a>
            </div>
        </div>
    </nav>
    <!---------- Navbar Section END -->
    
    <!-------------------------------- Product Main Content START -->
    <div class="product-content container-fluid pt-5 gradient-transparent-to-bg-gray-100">
    
        <!-------------------------------- Shop Content START -->   
        <div class="shop-content p-4 border-bottom-gray-300
                    bg-xpress-gray-200 container-fluid">

            <div class="position-absolute top-0 end-0 bg-primary w-100 h-100" style="z-index: -1;">
                <img class="w-100 h-100" 
                     src="../images/alphabetical-backgrounds/a-profile-background.jpg" alt="">
            </div>

            <div class="row">

                <div class="col-2">
                    <img class="rounded w-100" 
                         src="../images/alphabetical-profile/a-profile.jpg" alt="" 
                         style="height: 175px;">              
                </div>

                <div class="col-10 d-flex flex-wrap justify-content-between">

                    <h4 class="d-inline roboto text-light 
                                mb-1 fs-xpress-sm-500 w-50">
                                Shop Name 12345

                                <a class="btn bg-success
                                    bg-hover-xpress-to-gray-200 text-light
                                    rounded fs-xpress-sm-100 p-1 px-2 ms-2
                                    fw-xpress-600" href="#"
                                    id="background-btn">
                                    <i class="fa-solid fa-eye fs-xpress-sm-400"></i></a>
                    </h4>

                    <h4 class="d-inline roboto text-light 
                                mb-1 fs-xpress-sm-500 w-50 text-end">
                                City, State, Country</h4>

                    <h4 class="d-inline roboto text-xpress-gray-600 
                                mb-1 fs-xpress-sm-400 fw-xpress-400 w-50 mt-1">
                                shop12345@email.com</h4>

                    <h4 class="d-inline roboto text-xpress-gray-600 
                                mb-1 fs-xpress-sm-400 fw-xpress-400 w-50 mt-1 text-end">
                                postal code</h4>

                    <h4 class="d-inline roboto text-light mt-4
                                mb-1 fs-xpress-sm-400 fw-xpress-400 w-50">
                                <span class="text-xpress-gray-600 fs-xpress-sm-300 fw-xpress-500">MAIN VENDOR:</span> firstName lastName</h4>

                    <h4 class="d-inline roboto text-light mt-4
                                mb-1 fs-xpress-sm-400 fw-xpress-400 w-50 text-end">
                                <span class="text-xpress-gray-600 fs-xpress-sm-300 fw-xpress-500">CONTACT NO:</span> 1234567890</h4>

                    <h4 class="d-inline roboto text-light mt-4 
                                mb-1 fs-xpress-sm-400 fw-xpress-400 w-100">
                                addressLine1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>

                    <h4 class="d-inline roboto text-light mt-2
                                mb-1 fs-xpress-sm-400 fw-xpress-400 w-100">
                                addressLine2 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>

                    <div class="w-100 text-end">

                        <a class="btn bg-xpress-pink-100
                                        bg-hover-xpress-to-gray-200 text-light 
                                        rounded py-1 px-5 fs-xpress-sm-300 
                                        fw-xpress-500 mt-5 me-1">
                                        Edit Shop</a>

                        <a class="btn bg-xpress-orange-100
                                        bg-hover-xpress-to-gray-200 text-light 
                                        rounded py-1 px-5 fs-xpress-sm-300 
                                        fw-xpress-500 mt-5 me-1">
                                        Create Category</a>

                        <a class="btn bg-xpress-purple-300
                                        bg-hover-xpress-to-gray-200 text-light 
                                        rounded py-1 px-5 fs-xpress-sm-300 
                                        fw-xpress-500 mt-5 me-1">
                                        New Product</a>
                    </div>
                            
                </div>

            </div>

        </div>
        <!---------- Shop Content END -->

        <!-------------------------------- Vendors Involved START -->  
        <div class="vendors bg-xpress-gray-200 p-4 w-100 text-end">

            <h4 class="d-inline roboto text-light 
                        mb-1 fs-xpress-sm-500 w-50 text-end">
                        Other Vendors Involved</h4>

            <div class="row g-2 flex-row-reverse mt-4 ps-5">

                <div class="col-1">
                    <img class="w-100 rounded" 
                         src="../images/alphabetical-profile/a-profile.jpg" 
                         alt="" style="height: 4.5rem;">
                </div>

                <div class="col-1">
                    <img class="w-100 rounded" 
                         src="../images/alphabetical-profile/a-profile.jpg" 
                         alt="" style="height: 4.5rem;">
                </div>

            </div>

        </div>
        <!---------- Vendors Involved END -->
    
        <!-------------------------------- Shop Products in Categories START -->
        <div class="catergories px-2">

            <div class="row px-1">

                <!-- category left -->
                <div class="col-9 bg-primary">

                    <!-------------------------------- Main Product Inside Category START -->
                    <div class="cart-xpress-category 
                                row bg-xpress-gray-200">

                        <!-- category header -->
                        <div class="pt-2 ps-2"
                             style="z-index: 1000">

                            <h5 class="roboto fs-xpress-sm-400 
                                       text-light p-2 w-25">
                                       categoryName</h5>
                        </div>

                        <!-- category content -->
                        <div class="row row-cols-6 
                                    m-0 px-1 py-1"
                                    style="z-index: 1000">
                            
                            <!-- category item -->
                            <div class="col py-1 px-1">

                                <a class="text-xpress-gray-100" href="#" 
                                          style="text-decoration: none;">

                                    <div class="card rounded-0 border-0 h-100">

                                        <img src="../images/sample-products/product-1.jpg" 
                                             class="card-img-top" alt="..." 
                                             style="height: 200px;">
    
                                        <div class="card-body bg-xpress-gray-100 p-2">

                                            <p class="text-overflow card-title 
                                                      roboto text-light fs-xpress-sm-300">
                                                      productName 01</p>

                                            <p class="card-text roboto 
                                                      text-xpress-orange-200 fs-xpress-sm-700 
                                                      fw-xpress-600 mb-0">
                                                      P50</p>

                                            <div class="mt-0 p-0 fs-xpress-sm-200 
                                                        d-flex justify-content-between align-items-start">

                                                <p class="card-text text-xpress-yellow-200">
                                                        <i class="fa-solid fa-star"></i> 4.5</p>

                                                <p class="card-text text-light 
                                                          text-xpress-yellow-100 fw-xpress-500">
                                                          10% discount</p>
                                            </div>

                                            <p class="card-text text-xpress-gray-300 
                                                      fw-xpress-400 fs-xpress-sm-300">
                                                      available: 10</p>
                                        </div>
                                    </div>

                                </a>

                            </div>
                            
                        </div>

                        <!-- shop load more button -->
                        <div class="px-2 pb-2" style="z-index: 1000">
        
                            <button class="btn bg-xpress-purple-100 w-100
                                           bg-hover-xpress-to-gray-200
                                           rounded text-light py-1 px-4 roboto
                                           fs-xpress-sm-200 fw-xpress-500">
                                           Load More</button>
                        </div>

                        <!-- category background of a certain product -->
                        <div class="category-background h-50 p-0" 
                             style="z-index: 0">

                            <img class="w-100 h-100" 
                                 style="z-index: -1"
                                 src="../images/sample-categories/car.jpg" alt="">

                            <div class="cover w-100 h-100 
                                        gradient-black-op-100-to-bg-gray-200"></div>
                        </div>

                    </div>
                    <!---------- Main Product Inside Categor END -->

                    <!-------------------------------- Main Product Inside Category START -->
                    <div class="cart-xpress-category 
                                row bg-xpress-gray-200">

                        <!-- category header -->
                        <div class="pt-2 ps-2"
                             style="z-index: 1000">

                            <h5 class="roboto fs-xpress-sm-400 
                                       text-light p-2 w-25">
                                       categoryName</h5>
                        </div>

                        <!-- category content -->
                        <div class="row row-cols-6 
                                    m-0 px-1 py-1"
                                    style="z-index: 1000">
                            
                            <!-- category item -->
                            <div class="col py-1 px-1">

                                <a class="text-xpress-gray-100" href="#" 
                                          style="text-decoration: none;">

                                    <div class="card rounded-0 border-0 h-100">

                                        <img src="../images/sample-products/product-1.jpg" 
                                             class="card-img-top" alt="..." 
                                             style="height: 200px;">
    
                                        <div class="card-body bg-xpress-gray-100 p-2">

                                            <p class="text-overflow card-title 
                                                      roboto text-light fs-xpress-sm-300">
                                                      productName 01</p>

                                            <p class="card-text roboto 
                                                      text-xpress-orange-200 fs-xpress-sm-700 
                                                      fw-xpress-600 mb-0">
                                                      P50</p>

                                            <div class="mt-0 p-0 fs-xpress-sm-200 
                                                        d-flex justify-content-between align-items-start">

                                                <p class="card-text text-xpress-yellow-200">
                                                        <i class="fa-solid fa-star"></i> 4.5</p>

                                                <p class="card-text text-light 
                                                          text-xpress-yellow-100 fw-xpress-500">
                                                          10% discount</p>
                                            </div>

                                            <p class="card-text text-xpress-gray-300 
                                                      fw-xpress-400 fs-xpress-sm-300">
                                                      available: 10</p>
                                        </div>
                                    </div>

                                </a>

                            </div>
                            
                        </div>

                        <!-- shop load more button -->
                        <div class="px-2 pb-2" style="z-index: 1000">
        
                            <button class="btn bg-xpress-purple-100 w-100
                                           bg-hover-xpress-to-gray-200
                                           rounded text-light py-1 px-4 roboto
                                           fs-xpress-sm-200 fw-xpress-500">
                                           Load More</button>
                        </div>

                        <!-- category background of a certain product -->
                        <div class="category-background h-50 p-0" 
                             style="z-index: 0">

                            <img class="w-100 h-100" 
                                 style="z-index: -1"
                                 src="../images/sample-categories/car.jpg" alt="">

                            <div class="cover w-100 h-100 
                                        gradient-black-op-100-to-bg-gray-200"></div>
                        </div>

                    </div>
                    <!---------- Main Product Inside Categor END -->
                    
                </div>

                <!-- category right -->
                <div class="col-3 bg-light p-0">

                    <div class="p-0 position-relative" 
                                style="background: url('../images/wonderful-images/wonderful-image-2.jpg') no-repeat;
                                       background-size: cover;">
    
                        <div class="w-100 h-100 bg-opaque-xpress-black-200 px-4 pt-4">
        
                            <h5 class="lato text-xpress-blue-300 
                                       fs-xpress-sm-400 fw-xpress-600">
                                       SOLD IN TOTAL</h5>
    
                            <p class="roboto text-light pb-3
                                      fs-xpress-sm-400 fw-xpress-500">
                                      P15,000</p>

                            <!-- CHART SECTION START!!! -->
                            <!-- google charts -->
                            <div class="float-end hoverable-chart">
                                <div class="chart-container bg-success w-100 h-100">
                            </div></div>

                            <!-- google charts -->
                            <div class="float-end hoverable-chart">
                                <div class="chart-container bg-success w-100 h-100">
                            </div></div>
                            <!-- CHART SECTION END!!! -->
    
                        </div>

                        <!-- ratings -->
                        <div class="shop-rating position-absolute text-center
                                    top-0 end-0 w-25 bg-xpress-orange-100 text-light">

                            <div class="border border-start-0 
                                        border-top-0 border-bottom-1 
                                        border-end-0 p-2">

                                <h1 class="roboto fw-xpress-600 mt-2">4.5</h1>
                            </div>
    
                            <p class="roboto text-light mt-3 
                                      fs-xpress-sm-200 fw-xpress-500">
                                      OVERALL RATING</p>
                            
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!---------- Shop Products in Categories END -->

    </div>
    <!---------- Product Main Content END -->
    
    <!-------------------------------- Cart Xpress Footer START -->
    <footer class="container-fluid 
                   bg-xpress-gray-200 text-light p-0">

        <!-- footer header -->
        <div class="header bg-xpress-gray-500 text-center">

            <h5 class="roboto fs-xpress-sm-500 
                       py-2 m-0">
                       Ecommerce Title</h5>
        </div>

        <!-- border line design -->
        <div class="row bg-light m-0" style="height: 0.75rem">
            <div class="col-4 h-100 bg-xpress-orange-100"></div>
            <div class="col-4 h-100"></div>
            <div class="col-4 h-100 bg-xpress-purple-300"></div>
        </div>

        <!-- footer content -->
        <div class="footer-content">
            <div class="row m-0 px-4 py-5">

                <div class="col-4">
                    <h5 class="roboto text-xpress-blue-200">About Ecommerce Title</h5>

                    <p class="roboto my-5 pb-5 justify 
                              fw-xpress-300 fs-xpress-sm-300">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                              Perferendis veritatis dolorum architecto, 
                              harum enim illum debitis rerum? Rem praesentium aspernatur 
                              recusandae temporibus inventore consequatur doloremque 
                              distinctio similique labore, impedit rerum.
                              <br><br>
                              
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                              Dolores pariatur quis inventore, autem eaque voluptas placeat minima! 
                              Voluptatibus, quidem officiis eaque dolor quae quisquam quod 
                              ipsa optio vero ad rem?</p>

                    <div class="w-100 mt-5 text-center">
                        
                        <object class="w-25" 
                                data="../images/svg/mobile-interface.svg"></object>

                        <h6 class="roboto mt-4 
                                   text-xpress-blue-200">
                                   ECOMMERCE TITLE</h6>
                    </div>
                </div>

                <div class="col-8">
                    <div class="row ps-5">
                        <div class="col-4">
                            <h5 class="text-xpress-orange-200 
                                       mb-5 roboto uppercase fs-xpress-sm-400">Category Header</h5>

                            <ul class="p-0" style="list-style: none;">
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 1</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 2</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 3</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 4</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h5 class="text-light mb-5 roboto uppercase fs-xpress-sm-400">Category Header</h5>

                            <ul class="p-0" style="list-style: none;">
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 1</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 2</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 3</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 4</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 5</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h5 class="text-light mb-5 roboto uppercase fs-xpress-sm-400">Category Header</h5>

                            <ul class="p-0" style="list-style: none;">
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 1</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 2</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 3</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 4</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h5 class="text-light my-5 roboto uppercase fs-xpress-sm-400">Category Header</h5>

                            <ul class="p-0" style="list-style: none;">
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 1</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 2</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 3</a></li>
                                <li class="mb-2"><a class="m-0 roboto text-light" href="#" style="text-decoration: none;">List Item Number 4</a></li>
                            </ul>
                        </div>
                        <div class="col-8">
                            <h5 class="text-xpress-blue-200 mt-5 roboto uppercase fs-xpress-sm-400">Header Title</h5>
                            <p class="roboto mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, soluta porro. Mollitia impedit numquam omnis accusamus tempora, ratione cumque</p>
                            <h5 class="text-light mt-5 roboto uppercase fs-xpress-sm-400">Social Media Platforms</h5>
    
                            <div class="mt-4">
                                <a href="#"><i class="fa-brands fa-facebook fs-xpress-sm-800 text-light ms-2"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter fs-xpress-sm-800 text-light ms-2"></i></a>
                                <a href="#"><i class="fa-brands fa-square-instagram fs-xpress-sm-800 text-light ms-2"></i></a>
                                <a href="#"><i class="fa-brands fa-discord fs-xpress-sm-800 text-light ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- footer lower part - copyright  -->
        <div class="copyright bg-xpress-gray-500 text-center">

            <h5 class="roboto fw-xpress-400 fs-xpress-sm-400 
                       py-2 m-0">
                       &#169; 2022 All Right Reserved - Ecommerce Title</h5>
        </div>
    </footer>
    <!---------- Cart Xpress Footer END -->

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../js/utils/FunctionUtils.js"></script>
    <script src="../js/utils/PieChart.js"></script>
    <script src="../js/pages/shop.js"></script>
</body>
</html>